@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000000;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav {
    display: flex;
    align-items: center;

}

.nav-container {
    display: flex;
    align-items: center;
    
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

.logo span {
    color: #077b32;
    text-shadow: 0 0 10px #077b32;
}

.links {
    display: flex;
    margin-left: 20px;
}

.link {
    margin: 0 10px;
}

.link a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 100px 20px;
    text-align: center;
}

.works {
    background: rgba(0, 0, 0, 0.8);
    margin: 50px 0;
    border-radius: 10px;
    padding: 50px;
    color: #fff;
}

.works h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.work-item {
    margin: 20px 0;
}

.work-item h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.work-item p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 10px;
}

.work-item a {
    display: inline-block;
    color: #077b32;
    text-decoration: none;
    font-size: 1rem;
    margin-bottom: 10px;
    border: 2px solid #08ac44;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.3s ease;
}

.work-item a:hover {
    background-color: #d2691e;
    color: #fff;
}

.work-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}
footer  {
    display: contents;
    text-align:  center;

}

/* for project1 style */

.project-details {
    max-width: 800px;
    margin: 0 auto;
}

.project-banner img {
    width: 100%;
    border-radius: 10px;
}

.project-video {
    text-align: center;
    margin: 20px 0;
}

.project-description, .project-contributions, .project-details-aside {
    margin: 20px 0;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
}

.project-details-aside h3 {
    margin-top: 0;
}

.project-details-aside ul {
    list-style: none;
    padding: 0;
}

.project-details-aside ul li {
    margin-bottom: 10px;
}

